.cancel
{
   -fx-background-image: url('../../Static/img/cancel.png');
   -fx-background-size: 100% 100%;
}
.search
{
   -fx-background-image: url('../../Static/img/search.png');
   -fx-background-size: 100% 100%;
}